/* ----- color and hover nav-link ----- */

.nav-link,
.nav-link.ativo:hover {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--text-color);
}

.nav-link:hover {
    color: #96a3b6;
}

.navbar-nav .nav-link.ativo:after {
    content: "";
    display: block;
    background-image: url(../../icon/favicon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* Ajusta o tamanho da imagem conforme necessário */
    position: absolute;
    width: 50px;
    /* Ajuste o valor conforme necessário */
    height: 50px;
    /* Ajuste o valor conforme necessário */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    /* Centraliza horizontalmente */
    bottom: -25px;
    /* Ajuste a distância da imagem abaixo do texto */
}

/* ----- spacing between navbar ----- */

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.7rem;
    padding-left: 1.7rem;
}

.navbar-nav .nav-link {
    position: relative;
}

/* ----- icons profile ----- */

.profile {
    gap: 5px;
    padding: .5rem 1rem;
}

/* ----- header ----- */

header {
    height: 100px;
    max-width: 1400px;
}