/* ----- color and hover nav-link ----- */

.nav-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-image: linear-gradient(to right,
            #96a3b6,
            #96a3b6 50%,
            var(--text-color) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-position: 0;
}

/* ----- spacing between navbar ----- */

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.7rem;
    padding-left: 1.7rem;
}

/* ----- icons profile ----- */

.profile {
    gap: 5px;
    padding: .5rem 1rem;
}

/* ----- header ----- */

header {
    height: 100px;
    max-width: 1400px;
}