/* ----- colors ----- */

:root {
    --text-color: #F5F7FA;
}

.text-color {
    color: var(--text-color);
}

/* ----- btnt cyrcle ----- */

.button-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.icon-button {
    position: relative;
}

.button-container:hover {
    stroke-width: 5px;
}

.text-button {
    position: absolute;
    padding-left: 90px;
    font-size: 16px;
}

/* ----- reset button ----- */

button {
    all: unset; /* Remove todas as propriedades padrão do botão */
    cursor: pointer;  
}